/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*tools in  common */
body{
    font-family: 'Poppins', sans-serif;
    background-color:#FFFFFF;
   
}
/* Banner--------top banner start---------------------- */
.top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(4, 51, 66);
    width: 100%;
    margin-bottom: 70px;
}
.banner-text{
    margin-left: 130px;
    color: #F3F1FF;
    margin-top: 207px;
    margin-bottom: 240px;
}
.text{
    font-size: 64px;
    margin-bottom: 27px;
    
}
.banner-text a{
    background-color:#E02C6D;
    text-decoration: none;
    padding: 8px 24px;
    color:#FFFFFF;
    font-size: 16px; 
} 
a .fa-arrow-right{
margin-left: 5px;
}
 
.banner-image img{
    width: 444px;
    height: 438px;
    margin-top: 153px;
    margin-bottom: 86px;
    margin-right: 156px;
    transition: transform  1s;
}

.banner-image img:hover{
    transform: rotate3d(1, 1, 1, 45deg);
    
}


/*  ***********
common utility
************  */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: relative; */

}
.container{
    width: 1050px;
   
} 
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-bottom: 27px;  
    
}
.player{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player-image img{
    width: 300px;
    height: 256px; 
}
.player-info h5{
    font-size: 28px;
    color:#18191F;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-info p{
    font-size: 16px;
    color:#6C6C6C;
    line-height: 26px;
}
/* ------------------------
     footer design 
-------------------------- */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 152px;
    
}
.logo img{
    margin-left: 123px;
    margin-right: 230px;
    width:483px;
    height:110px ;
    margin-top: 30px;
}

.footer-icon
    {
       text-align: center;
}
.copy-right{
    text-align: center;
    color: #000000;;
    font-size: 18px;
    margin-top: 20px;
}
.footer-icon a{
    margin: 0px 14px;
    background-color: #c7d4c7f1;
    border-radius:25%;
    padding: 4px;
}
.footer-icon .fab{
    color: #969BAB;
    border-radius:20px ;
}
.fa-copyright{
    font-size: 15px;
}
.footer-icon-hover{
    margin-left: 290px;
    margin-right: 290px;
    padding: 5px;
  }

/*-----------------------------------
 responsive design
----------------------------------*/

/* --------------
design for mobile  phone 
---------------------*/
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        width: 88%;
        margin-left: 23px;
    }
    .player{
        flex-direction: column;
    }
    .player-image img{
        padding-right: 10px;
    }
}
@media only screen and (max-width:688px){
    .header{
        width: 100%;
    }
    .top-banner{
        flex-direction: column;
        width:100%;
        grid-column-gap: 10px;
    }
    .banner-text{
        margin-left: 10px;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    .banner-text a{
        font-size:12px ;
    }
    .text{
        font-size: 40px;
    }
    .banner-image img{
        width: 362px;
        height: 305;
        margin-right: 0px;
    }
    .logo img{
        width:300px;
        margin-left: 200px;
        margin-right: 200px;    
    }
    .footer-icon a{
       margin:0px;
       padding:0 1px;
    }
    .copy-right{
        font-size: 8px;
    }
    .fa-copyright{
        font-size: 8px;
    }
}
/* ------------------------
design for i pad  
 ---------------------*/
 @media only screen and (min-width:688px) and (max-width:992px){
     .container{
         width: 100%
     }
     .players{
         grid-template-columns:repeat(2, 1fr) ;
     }
     .player{
        flex-direction: column;
    }
 }
